body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  /*overflow: hidden; 여기다가 쓰면 이상해짐 */
  color: white;
}

.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  /*여기다가 넣어야 정상적으로 작동됨*/
  overflow: hidden;
}

.text {
  align-items: center;
  justify-content: center;
}

.genres {
  display: flex;
  flex-wrap: nowrap; /* 횡으로 넘치는 경우 한 줄에 나열되도록 설정 */
  overflow-x: auto; /* 내용이 넘치면 가로 스크롤 표시 */
  background-color: green; /* 초록색 배경 */
  padding: 10px;
}

.genres_list {
  list-style: none;
  padding: 0;
  display: flex;
}

.genres_item {
  margin-right: 10px;
}
